nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: black;
    color: white;
    display: flex;
    }

a {
    padding: 16px 18px;
    color: yellow;
    font-family: Arial;
    font-weight: bold;
    text-decoration: none;
    transition: ease 0.3s all;
    }

a:hover {
    background: #444;
}

body {
    margin-top: 51px;
    margin-left: 0px;
}

a.first-nav {
    margin-left: 20px;
}

.main-body {
    background-color: CadetBlue;
    width: 100vw;
    height: 100vh;
    border-radius: 5px;
}
